.container {
    padding-top: 2rem;
    align-items: center;

}
.navbar-collapse {
    align-items: center;
    justify-content: left;
    font-size: 1.2em;
    
}
.parrafo-principal {
    margin-top: 10vh;
}
